    .Title {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    #name {
        color: rgba(211, 211, 245, 0.664);
    }

    #description {
        color:azure
    }

    header {
        background-color: rgba(155, 155, 155, 0.712);
        backdrop-filter: blur(8px);
        border-top: 1px solid;
        padding: 20px;
        position: sticky;
        top: 0;
    }

    .Topbar {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 3vw;
        position: relative;
        bottom: 50px;
        cursor: pointer;
    }

    .search-layout {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 30px;
        z-index: 10;
    }

    .searchBar {
        --padding: 5px;


        width: max-content;
        width: max-content;
        display: flex;
        align-items: center;
        padding: var(--padding);
        border: 2px solid rgb(255, 255, 255);
        border-radius: 20px;
        cursor: text;
    }

    .search-input{
        font-size: 15px;
        font-family: 'Lexend', sans-serif;
        width: 25vw;
        margin-left: 14px;
        background: transparent;
        border: none;
        outline: none;
        flex: 1;
        cursor: text;
    }

    #name {
        display: flex;
        margin-left: 5rem;
    }

    #description {
        display: flex;
        margin-left: 5rem;
    }