    * {
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    .Title {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    #name {
        color: rgba(0, 0, 255, 0.664);
    }

    header {
        display: flex;
        justify-content: space-between;
        background-color: rgba(105, 101, 101, 0.219);
        padding: 20px;
        padding-bottom: 5vh;
        
    }

    .Topbar {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: end;
        gap: 3vw;
        cursor: pointer;
    }

    .search-layout {
        display: flex;
        justify-content: center;
    }

    .searchBar {
        --padding: 5px;


        width: max-content;
        width: max-content;
        display: flex;
        align-items: center;
        padding: var(--padding);
        border: 2px solid rgba(0, 0, 0, 0.301);
        border-radius: 20px;
    }

    .search-input{
        font-size: 15px;
        font-family: 'Lexend', sans-serif;
        width: 25vw;
        margin-left: 14px;
        background: transparent;
        border: none;
        outline: none;
        flex: 1;
    }


    #name {
        display: flex;
        margin-left: 5rem;
    }

    #description {
        display: flex;
        margin-left: 5rem;
    }

    .bookLayout {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: rgb(105, 133, 133);
    }
    #bookBox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1em;
    }

    #Content1{
        padding: 5em;
        border-radius: 6px;
        border: 1px solid black;
        background-color: aqua;
    }
    #Content2{
        padding: 5em;
        border-radius: 6px;
        border: 1px solid black;
        background-color: aliceblue;
    }
    #Content3{
        padding: 5em;
        border-radius: 6px;
        border: 1px solid black;
        background-color: aquamarine;
    }
    #Content4{
        padding: 5em;
        border-radius: 6px;
        border: 1px solid black;
        background-color: azure;
    }
    #Content5{
        padding: 5em;
        border-radius: 6px;
        border: 1px solid black;
        background-color: bisque;
    }
    #Content6{
        padding: 5em;
        border-radius: 6px;
        border: 1px solid black;
        background-color: rgb(247, 211, 157);
    }







