@import url('./Header.css');
@import url('./Body.css');
@import url('./SymCheck.css');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}


 










