.symCheckLayout {
    display: flex;
    justify-content: center;
}

.symptomChecker {
    border: 1px solid black;
    background-color: rgb(224, 217, 217);
    border-radius: 10px;
    width: 55vw;
    padding: 1em;
}

.symptomChecker h3 {
    padding: 20px;
}

.symCbLayout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}

.symCheckBox-container {
    border: 1px solid black;
    width: 10em;
}

#symResult {
    padding: 10px 20px;
}

input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    height: 2em;
    width: 2em;
    background-color: aliceblue;
}

label[for='cb1'], [for='cb2'], [for='cb3'], [for='cb4'], [for='cb5'], [for='cb6'], [for='cb7'], [for='cb8'] {
    display: flex;
    align-items: center;
    text-align: center;
}
