.symCheckLayout {
    display: flex;
    justify-content: center;
}

.symptomChecker {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 55vw;
    padding: 1em;
}

.symptomChecker h3 {
    padding: 20px;
}

.symCbLayout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}

.symCheckBox-container {
    border: 1px solid black;
    width: 10em;
}